In [2]:
# db_connect_mysqlconnector.py
import pandas as pd
import mysql.connector

USER = "dm_team7"
PASSWORD = "DM!$!Team!72@04!23&"
HOST = "18.136.157.135"
PORT = 3306
DB = "project_customer_segmentation"
TABLE = "customer"

conn = mysql.connector.connect(
    host=HOST,
    port=PORT,
    user=USER,
    password=PASSWORD,
    database=DB
)

query = "SELECT invoice_no, customer_id, gender, age, category, quantity, price, payment_method, invoice_date, shopping_mall FROM customer LIMIT 5000;"
df = pd.read_sql(query, conn)
print(df.head())

conn.close()

C:\Users\rawal\AppData\Local\Temp\ipykernel_10484\1375947954.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  invoice_no customer_id  gender  age    category  quantity    price  \
0    I100008     C199951    Male   65    Clothing         5  1500.40
1    I100014     C138893    Male   55   Cosmetics         5   203.30
2    I100015     C132779  Female   35    Clothing         2   600.16
3    I100024     C244411  Female   67       Books         3    45.45
4    I100027     C150002  Female   19  Technology         4  4200.00

  payment_method invoice_date      shopping_mall
0           Cash   10-07-2022  Emaar Square Mall
1           Cash   18-06-2021     Viaport Outlet
2     Debit Card   04-03-2021   Mall of Istanbul
3    Credit Card   05-01-2023  Emaar Square Mall
4           Cash   18-05-2022   Mall of Istanbul

In [5]:
df.count()

invoice_no        5000
customer_id       5000
gender            5000
age               5000
category          5000
quantity          5000
price             5000
payment_method    5000
invoice_date      5000
shopping_mall     5000
dtype: int64

In [7]:
df.to_csv("customer_shopping_data.csv", index=False)